*, *:before, *:after {
  box-sizing: border-box;
}

.content{
  margin: 50px 5% 0 5%;
  overflow:hidden;
  border-radius:5px;
}

.content-body{
  width:90%;
  margin: 0 auto;
  background-color:white;
  border-radius:5px;
}

.content-body img{
  padding: 5px;
}

.content-body p{
  padding: 5px;
}


li span{
  font-weight:bold;
}


blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
border-left: 0px solid #eee;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #333;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

footer{
  margin-top:20px;
  padding:10px 0 2px 0;
  text-align:center;
  border-top: 1px solid #ddd;
}